* {
    font-family: Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    background-color: #ff3333;
    color: #FFFFFF;
    margin: 0px auto;
    padding: 20px;
    font-size: 20px;
}

header h1 {
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
    margin: auto;
}

#content {
    margin-top: 20px;
    text-align: center;
}

table {
	margin-top:10px;
    width: 100%;
    vertical-align: middle;
}

img{
	margin-top:10px;
    vertical-align: middle;
    width: 35px;
    height: 35px;
}
/* 
.text-input {
	margin-top:10px;
    width: 100%;
    font-size: 20px;
    outline: 0 none;
    vertical-align: middle;
    border-radius: 0px;
    box-shadow: 0px 0px 0px 0px #ffffff;
} */

input[type=number] {
	margin-top:15px;
    height: 25px;
    width: 80%;
    font-size: 20px;
    background-color: #ffffff;
    outline: 0 none;
    color: #000;
    vertical-align: middle;
    border-radius: 0px;
    box-shadow: 0px 0px 0px 0px #ffffff;
}

button {
	margin-top:15px;
    height: 35px;
    width: 150px;
    font-size: 20px;
    background-color: #ffffff;
    outline: 0 none;
    color: #000;
    vertical-align: middle;
    border-radius: 0px;
    box-shadow: 0px 0px 0px 0px #ffffff;
}

#text-date, #text-month, #img-load, #img-info, #msg-box {
	display: none;
}

#img-icon {
    height: 150px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.message-box-wrapper {
	margin-top: 20px;
    position: relative;
    margin-bottom: 40px;
    min-height: 99px;
    width: 90%;
}

.message-box-wrapper.left {
    left: 18px;
}

.message-box-wrapper.right {
    left: 112px;
}

.message-box-wrapper:before {
    position: absolute;
    width: 18px;
    height: 36px;
    top: 44px;
    content: '';
    display: block;
}

.message-box-wrapper.left:before {
    left: -8px;
    background-image: url('../image/tooltip_pointer_dark.png');
}

.message-box-wrapper.right:before {
    right: -17px;
    background-image: url('../image/tooltip_pointer_light.png');
}

.message-box {
    padding: 20px;
    border-radius: 10px;
    font-size: 25px;
}

.left .message-box {
    background-color: rgb(35, 35, 35);
}

.right .message-box {
    background-color: rgb(45, 45, 45);
}

.message-header {
    color: rgb(213, 43, 39);
    word-wrap:break-word;
}

.message-content {
    font-weight: lighter;
    word-wrap:break-word;
}
